/*
 * Backgrounds & Borders
 * http://www.w3.org/TR/css3-background/
 */
/*
 * Columns
 * http://www.w3.org/TR/css3-multicol/
 */
/*
 * Flexbox
 * http://www.w3.org/TR/css3-flexbox/
 */
/*
 * Fonts
 * http://www.w3.org/TR/css3-fonts/
 * NB: Do not use these shortcuts in @font-face declarations
 */
/*
 * Margins
 */
/* 
 * Padding
 */
/*
 * Text
 * http://www.w3.org/TR/css3-text/
 */
/*
 * Text Decoration
 * http://www.w3.org/TR/css-text-decor-3/
 */
/* 
 * Default font size
 * Set the value of 1rem to 10px (62.5% of 16 is 10). This allows for the Base 10 arithmetic.
 * NB: Chrome still uses 1rem = 16px in media queries. :(
 */
html {
  font-size: 62.5%;
}
/*
 * Clearfix
 * IE8 and upwards version
 * http://css-tricks.com/snippets/css/clear-fix/
 */
/*
 * Screen Reader only
 * Hide text without affecting accessibility
 */
/*
 * Base
 */
a {
  color: #6587ed;
  text-decoration: none;
}
h1 {
  font-weight: bold;
}
p {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  text-align: justify;
}
/*
 * Layout
 */
body {
  background-color: #fafafa;
  color: #333333;
}
.layout {
  font-family: Verdana Helvetica Arial sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2;
}
@media (min-width: 480px) {
  .layout {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.22222222;
  }
}
@media (min-width: 750px) {
  .layout {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.25;
  }
}
.layout__body {
  max-width: 750px;
  max-width: 75rem;
  margin-left: 10px;
  margin-left: 1rem;
  margin-right: 10px;
  margin-right: 1rem;
}
@media (min-width: 750px) {
  .layout__body {
    margin-left: auto;
    margin-right: auto;
  }
}
.layout__footer {
  border: 1px solid #6587ed;
  border-bottom-color: #fafafa;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  margin-top: 20px;
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: 10px;
  margin-left: 1rem;
  margin-right: 10px;
  margin-right: 1rem;
}
@media (min-width: 750px) {
  .layout__footer {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    width: 75rem;
  }
}
@media (min-width: 950px) {
  .layout__footer {
    position: fixed;
    left: calc(50% - 37.5rem - 2rem - 7.4rem);
    top: 60px;
    top: 6rem;
    border-bottom-color: #6587ed;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #aaaaaa;
    margin: 0;
    width: auto;
  }
}
.layout__header {
  font-size: 2em;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  text-align: center;
}
.cv-section {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
.cv-section__header {
  background: linear-gradient(#6587ed, #fafafa);
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding: 3px;
  padding: 0.3rem;
  text-transform: uppercase;
}
.cv-section__list--definition dt {
  float: left;
  font-weight: bold;
  width: 100px;
  width: 10rem;
}
.cv-section__list--definition dt::after {
  content: ":\00A0";
}
.cv-section__list--definition dd {
  margin-left: 110px;
  margin-left: 11rem;
}
.cv-section__list--unordered {
  list-style-type: circle;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  margin-left: 20px;
  margin-left: 2rem;
}
.cv-section__list--unordered li {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  margin-left: 10px;
  margin-left: 1rem;
  text-align: justify;
}
.job {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
.job:nth-of-type(n + 3) .job--about {
  display: none;
}
.job__header {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
@media (min-width: 480px) {
  .job__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 480px) {
  .job--employer {
    width: 100%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
  }
  .job span {
    font-style: italic;
  }
  .no-flexbox .job {
    clear: both;
    content: "";
    display: table;
    width: 100%;
  }
  .no-flexbox .job span.job--period {
    float: right;
  }
  .no-flexbox .job span.job--title {
    float: left;
  }
}
.additional-information {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-top: 1rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
.no-flexbox .additional-information {
  clear: both;
  content: "";
  display: table;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 950px) {
  .additional-information {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
    margin-left: 1rem;
    margin-right: 10px;
    margin-right: 1rem;
  }
}
.additional-information__item {
  padding-left: 10px;
  padding-left: 1rem;
  padding-right: 10px;
  padding-right: 1rem;
}
.no-flexbox .additional-information__item {
  float: left;
}
@media (min-width: 950px) {
  .additional-information__item {
    padding-top: 10px;
    padding-top: 1rem;
    padding-bottom: 10px;
    padding-bottom: 1rem;
  }
  .no-flexbox .additional-information__item {
    float: none;
  }
}
.additional-information__link {
  display: block;
  height: 32px;
  width: 32px;
}
