/*
 * Backgrounds & Borders
 * http://www.w3.org/TR/css3-background/
 */
/*
 * Columns
 * http://www.w3.org/TR/css3-multicol/
 */
/*
 * Flexbox
 * http://www.w3.org/TR/css3-flexbox/
 */
/*
 * Fonts
 * http://www.w3.org/TR/css3-fonts/
 * NB: Do not use these shortcuts in @font-face declarations
 */
/*
 * Margins
 */
/* 
 * Padding
 */
/*
 * Text
 * http://www.w3.org/TR/css3-text/
 */
/*
 * Text Decoration
 * http://www.w3.org/TR/css-text-decor-3/
 */
/* 
 * Default font size
 * Set the value of 1rem to 10px (62.5% of 16 is 10). This allows for the Base 10 arithmetic.
 * NB: Chrome still uses 1rem = 16px in media queries. :(
 */
html {
  font-size: 62.5%;
}
/*
 * Clearfix
 * IE8 and upwards version
 * http://css-tricks.com/snippets/css/clear-fix/
 */
/*
 * Screen Reader only
 * Hide text without affecting accessibility
 */
body {
  background-color: #fafafa;
  color: #333333;
}
body > div {
  font-family: Verdana Helvetica Arial sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2;
}
@media (min-width: 480px) {
  body > div {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.22222222;
  }
}
@media (min-width: 750px) {
  body > div {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.25;
  }
}
/*
 * Sectioning
 */
main {
  max-width: 750px;
  max-width: 75rem;
  margin-left: 10px;
  margin-left: 1rem;
  margin-right: 10px;
  margin-right: 1rem;
}
@media (min-width: 750px) {
  main {
    margin-left: auto;
    margin-right: auto;
  }
}
section {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
#employmentHistory section:nth-of-type(n + 3) div {
  display: none;
}
header h1 {
  font-weight: bold;
}
section header {
  background: linear-gradient(#6587ed, #fafafa);
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding: 3px;
  padding: 0.3rem;
  text-transform: uppercase;
}
section section header {
  background: none;
  margin-bottom: 0;
  padding: 0;
  text-transform: none;
}
div > header {
  font-size: 2em;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  text-align: center;
}
footer {
  border: 1px solid #6587ed;
  border-bottom-color: #fafafa;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  margin-top: 20px;
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: 10px;
  margin-left: 1rem;
  margin-right: 10px;
  margin-right: 1rem;
}
@media (min-width: 750px) {
  footer {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    width: 75rem;
  }
}
@media (min-width: 950px) {
  footer {
    position: fixed;
    left: calc(50% - 37.5rem - 2rem - 7.4rem);
    top: 60px;
    top: 6rem;
    border-bottom-color: #6587ed;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #aaaaaa;
    margin: 0;
    width: auto;
  }
}
/*
 * Lists
 */
#keySkills dt {
  float: left;
  font-weight: bold;
  width: 100px;
  width: 10rem;
}
#keySkills dt::after {
  content: ":\00A0";
}
#keySkills dd {
  margin-left: 110px;
  margin-left: 11rem;
}
footer ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-top: 1rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
.no-flexbox footer ul {
  clear: both;
  content: "";
  display: table;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 950px) {
  footer ul {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
    margin-left: 1rem;
    margin-right: 10px;
    margin-right: 1rem;
  }
}
footer ul li {
  padding-left: 10px;
  padding-left: 1rem;
  padding-right: 10px;
  padding-right: 1rem;
}
.no-flexbox footer ul li {
  float: left;
}
@media (min-width: 950px) {
  footer ul li {
    padding-top: 10px;
    padding-top: 1rem;
    padding-bottom: 10px;
    padding-bottom: 1rem;
  }
  .no-flexbox footer ul li {
    float: none;
  }
}
footer ul li a {
  display: block;
  height: 32px;
  width: 32px;
}
main ul {
  list-style-type: circle;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  margin-left: 20px;
  margin-left: 2rem;
}
main ul li {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  margin-left: 10px;
  margin-left: 1rem;
  text-align: justify;
}
/*
 * Text
 */
p {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  text-align: justify;
}
header p span {
  display: block;
  font-style: italic;
}
@media (min-width: 480px) {
  header p {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .no-flexbox header p {
    clear: both;
    content: "";
    display: table;
    width: 100%;
  }
  .no-flexbox header p span.job-period {
    float: right;
  }
  .no-flexbox header p span.job-title {
    float: left;
  }
}
/*
 * Links
 */
a {
  color: #6587ed;
  text-decoration: none;
}
